<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Comments:</strong>
</p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
    <p><strong>Posted:</strong> <%= time_ago_in_words(comment.created_at) %> ago.</p>
    <p><%= comment.body %> </p>
      <p> <%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment) %> </p>
    </li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p>
  <strong>Add a New Comment:</strong>
</p>

<%= render 'comments/form' %>
